@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

p {
    margin: 0;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0 12% 0 12%;
}

.logo-side {
    min-width: 35%;
    background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 60%;
}

.form-side div:nth-of-type(odd) {
    margin: 0 12% 0 0;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 35%;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
}

.logo p {
    font-size: 96px;
    font-family: Norse-Bold;
    color: white;
    margin: 0;
}

.logo p::before {
    content: "";
    display: inline-block;
    background-image: url(./odin-lined.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    position: relative;
    top: 24px;
    left: 24px;
}

.footer-text, .footer-text a {
    color: lightgrey;
    align-self: center;
}

.header {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #1f1f1f;
    margin: -32px 0 64px 48px;
}

.footer {
    height: 35%;
}

.page-form {
    height: 30%;
    background-color: #f9f9f9;
    box-shadow: 0px 5px 15px 0px lightgray;
}










